:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* --- ParallaxScroll 추가 스타일 --- */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
  box-sizing: border-box;
}

.parallaxs__wrap {
  width: 100vw;
}
.parallaxs__item {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.parallaxs__item__num {
  position: absolute;
  bottom: 20px;
  right: 60px;
  color: #fff;
  font-size: 10vw;
  z-index: 1000;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.sec4 {
  position: fixed;
  left: 0;
  top: 0;
  width: 300vw;
  height: 100%;
  display: flex;
}
.parallax__info {
  z-index: 10000;
}
